<?xml version="1.0"?>
<launch>

<!-- <node pkg="whole_body_ik" type="whole_body_ik_nao_raisim_node" name="whole_body_ik" respawn="false" output="screen">
   	 <rosparam file="$(find whole_body_ik)/config/nao_wbc_params.yaml" command="load"/> 
</node> -->
<node pkg="lipm_motion" type="lipm_motion_node" name="lipm_motion" respawn="false" output="screen" >
   	 <rosparam file="$(find lipm_motion)/config/nao_planning_params.yaml" command="load"/> 
</node>
<node pkg="lipm_control" type="lipm_control_node" name="lipm_control" respawn="false" output="screen" >
   	 <rosparam file="$(find lipm_control)/config/nao_control_params.yaml" command="load"/> 
</node>
</launch>